{% extends 'logged_base.html' %}
{% load projects_tags %}

{% block title %}Projects{% endblock %}

{% block main_content %}
<a href="{% url 'projects-create' %}">Create project</a>
<table class="table table-striped">
    {% for project in projects %}
    <tr>
        <td>
            <a href="#">
                {{ project.name }}
            </a>
        </td>
        <td>
            {{ project.description|default:'...'|truncatechars:50 }}
        </td>
        <td>
            <a href="{% url 'projects-delete' project.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="3">No projects.</td></tr>
    {% endfor %}
</table>
{% endblock %}
