#content {
    margin-top: 60px;
}

#logged-content {
}

#sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    display: block;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

#low-priority {
    color: #21a800;
    font-size: 1.5em;
}

#normal-priority {
    color: black;
    font-size: 1.5em;
}

#high-priority {
    color: #ce1800;
    font-size: 1.5em;
}

.delete-badge {
    background-color: red;
}
