{% extends 'base.html' %}
{% load projects_tags %}

{% block content %}
<div class="row">
    <div id="sidebar" class="col-sm-3 col-md-2">
        <a href="{% url 'tasks-project-create' %}" class="btn btn-primary">
            Create project
        </a>
        <table class="table nav nav-sidebar">
            {% projects_list user as projects %}
            {% for project in projects %}
            <tr>
                <td>
                    <a href="{% url 'tasks-project-detail' project.id %}">
                        {{ project.name|capfirst }}
                    </a>
                </td>
                <td>
                    <span class="badge">{{ project.unpaid_tasks|length }}</span>
                    {% if not project.default %}
                    <a href="{% url 'tasks-project-update' project.id %}">
                        <span class="badge">Edit</span>
                    </a>
                    <a href="{% url 'tasks-project-delete' project.id %}">
                        <span class="badge delete-badge">&#x2718;</span>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="2">No projects.</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="logged-content">
        {% block main_content %}Main content{% endblock %}
    </div>
</div>
{% endblock %}
