<p>Total time: {{ total_project_spend_time|default:0 }} minutes</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Project</th>
            <th>Category</th>
            <th>State</th>
            <th>Create date</th>
            <th>Priority</th>
            <th>Total time</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{% url 'tasks-task-detail' task.id %}">{{ task.name }}</a></td>
            <td>
                <a href="{% url 'tasks-project-detail' task.project.id %}">
                    {{ task.project.name }}
                </a>
            </td>
            <td>{{ task.category }}</td>
            <td>{{ task.state }}</td>
            <td>{{ task.created_date }}</td>
            <td>
                {% if task.priority.name == 'Low' %}
                <span id="low-priority">⬇</span>
                {% elif task.priority.name == 'Normal' %}
                <span id="normal-priority">●</span>
                {% elif task.priority.name == 'High' %}
                <span id="high-priority">⬆</span>
                {% endif %}
            </td>
            <td>{{ task.total_spend_time }} minutes</td>
            <td>
                <a href="{% url 'tasks-task-change_paid' task.id %}?next={{ request.get_full_path }}">
                    {% if task.paid %}
                    <span style="color: green">Yes</span>
                    {% else %}
                    <span style="color: red">No</span>
                    {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination">
        {% if tasks.has_previous %}
        <li><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for num in tasks.paginator.page_range %}
        <li{% if num == tasks.number %} class="active"{% endif %}>
            <a href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}
        {% if tasks.has_next %}
        <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
